
{% block content %}
<div class="container-fluid">
<title>KZ - АКТ ПРИЕМА-ПЕРЕДАЧИ</title>
<style type="text/css"><!--
.page_break {page-break-before: always;}
.s0 {
 font-family: Arial;
 font-size: 9px;
 color: #000000; font-weight: bold; font-style: normal;
 background-color: transparent;
 text-align: Left; vertical-align: Top;
}
.s1 {
 font-family: Arial;
 font-size: 9px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Left; vertical-align: Top;
}
.s2 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 0px;
 border-top-width: 0px;
 border-bottom-width: 1;
 text-align: Left; vertical-align: Top;
}
.s3 {
 font-family: Arial;
 font-size: 9px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Center; vertical-align: Top;
}
.s4 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 1;
 border-right-width: 1;
 border-top-width: 1;
 border-bottom-width: 1;
 text-align: Center; vertical-align: Top;
}
.s5 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Right; vertical-align: Top;
}
.s6 {
 font-family: Arial;
 font-size: 16px;
 color: #000000; font-weight: bold; font-style: normal;
 background-color: transparent;
 text-align: Center; vertical-align: Top;
}
.s7 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 0px;
 border-top-width: 0px;
 border-bottom-width: 1;
 text-align: Left; vertical-align: Top;
}
.s8 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Left; vertical-align: Top;
}
.s9 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: italic;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 1;
 border-right-width: 1;
 border-top-width: 1;
 border-bottom-width: 1;
 text-align: Center; vertical-align: Top;
}
.s10 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-weight: bold; font-style: normal;
 background-color: transparent;
 text-align: Left; vertical-align: Top;
}
.s11 {
 font-family: Arial;
 font-size: 9px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 0px;
 border-top-width: 1;
 border-bottom-width: 0px;
 text-align: Center; vertical-align: Top;
}
.s12 {
 font-family: Arial;
 font-size: 12px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 0px;
 border-top-width: 0px;
 border-bottom-width: 1;
 text-align: Center; vertical-align: Top;
}
.s13 {
 font-family: Arial;
 font-size: 12px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Center; vertical-align: Top;
}
.s14 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Center; vertical-align: Top;
}
.s15 {
 font-family: Arial;
 font-size: 8px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Center; vertical-align: Top;
}
.s16 {
 font-family: Arial;
 font-size: 11px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 0px;
 border-top-width: 0px;
 border-bottom-width: 1;
 text-align: Left; vertical-align: Top;
}
.s17 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 1;
 border-right-width: 1;
 border-top-width: 1;
 border-bottom-width: 1;
 text-align: Left; vertical-align: Top;
}
.s18 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 1;
 border-right-width: 1;
 border-top-width: 1;
 border-bottom-width: 1;
 text-align: Right; vertical-align: Top;
}
.s19 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Right; vertical-align: Top;
}
.s20 {
 font-family: Arial;
 font-size: 11px;
 color: #000000; font-style: normal;
 background-color: transparent;
 text-align: Left; vertical-align: Top;
}
.s21 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 1;
 border-right-width: 1;
 border-top-width: 0px;
 border-bottom-width: 1;
 text-align: Center; vertical-align: Top;
}
.s22 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 1;
 border-top-width: 1;
 border-bottom-width: 1;
 text-align: Center; vertical-align: Top;
}
.s23 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 1;
 border-top-width: 0px;
 border-bottom-width: 1;
 text-align: Center; vertical-align: Top;
}
.s24 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: italic;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 1;
 border-right-width: 1;
 border-top-width: 0px;
 border-bottom-width: 1;
 text-align: Center; vertical-align: Top;
}
.s25 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: italic;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 1;
 border-top-width: 0px;
 border-bottom-width: 1;
 text-align: Center; vertical-align: Top;
}
.s26 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 1;
 border-right-width: 1;
 border-top-width: 0px;
 border-bottom-width: 1;
 text-align: Left; vertical-align: Top;
}
.s27 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 1;
 border-top-width: 0px;
 border-bottom-width: 1;
 text-align: Left; vertical-align: Top;
}
.s28 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 0px;
 border-right-width: 1;
 border-top-width: 0px;
 border-bottom-width: 1;
 text-align: Right; vertical-align: Top;
}
.s29 {
 font-family: Arial;
 font-size: 13px;
 color: #000000; font-style: normal;
 background-color: transparent;
 border-color:#000000; border-style: solid;
 border-left-width: 1;
 border-right-width: 1;
 border-top-width: 0px;
 border-bottom-width: 1;
 text-align: Right; vertical-align: Top;
}
--></style>

<div
 bgcolor="#FFFFFF" text="#000000">
<a name="PageN1"></a>
<table width="1022" border="0" cellspacing="0" cellpadding="0">
<tr style="height: 1px"><td width="4"/><td width="8"/><td width="47"/><td width="2"/><td width="2"/><td width="15"/><td width="2"/><td width="2"/><td width="89"/><td width="6"/><td width="23"/><td width="21"/><td width="4"/><td width="13"/><td width="9"/><td width="93"/><td width="2"/><td width="8"/><td width="2"/><td width="30"/><td width="2"/><td width="6"/><td width="4"/><td width="34"/><td width="13"/><td width="8"/><td width="9"/><td width="25"/><td width="19"/><td width="11"/><td width="19"/><td width="11"/><td width="4"/><td width="4"/><td width="47"/><td width="4"/><td width="6"/><td width="23"/><td width="9"/><td width="11"/><td width="77"/><td width="2"/><td width="9"/><td width="9"/><td width="4"/><td width="26"/><td width="4"/><td width="11"/><td width="4"/><td width="21"/><td width="4"/><td width="2"/><td width="9"/><td width="4"/><td width="87"/><td width="11"/><td width="4"/><td width="4"/><td width="4"/><td width="59"/><td width="4"/><td width="8"/><td width="8"/></tr>
<tr style="height:18px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="6" class="s4"></td><td/><td/><td/><td colspan="20" class="s0">Унифицированная форма № ОС-2</td>
</tr>
<tr style="height:18px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="10" class="s5"></td><td colspan="6" class="s21" style="font-size:1px">&nbsp;</td><td/><td/><td/><td colspan="20" class="s1"></td>
</tr>
<tr style="height:18px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="6" class="s5"></td><td/><td colspan="6" class="s21" style="font-size:1px">&nbsp;</td><td/><td/><td/><td colspan="20" class="s1"></td>
</tr>
<tr style="height:18px">
<td/><td/><td/><td/><td/><td/><td/><td/>
    <td colspan="21" class="s2">Company Name</td>
    <td/><td/><td/><td/><td/><td colspan="6" class="s21" style="font-size:1px">&nbsp;</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:15px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="8" class="s3">(наименование организации)</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="6" class="s21" style="font-size:1px">&nbsp;</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:4px">
<td/><td colspan="3" rowspan="2" class="s8">Сдатчик</td><td/><td/><td/>
    <td colspan="22" rowspan="2" class="s7">{{ tracker.deptout }}</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:15px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:11px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="12" class="s3">(наименование структурного подразделения)</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:7px">
<td colspan="6" rowspan="2" class="s8">Получатель</td><td/><td/><td colspan="21" rowspan="2" class="s7">{{ tracker.deptin }}</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:11px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:15px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="12" rowspan="2" class="s3">(наименование структурного подразделения)</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:4px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="7" rowspan="5" class="s4">Номер документа</td><td colspan="3" rowspan="5" class="s22">Дата составления</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:15px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="15" class="s6">НАКЛАДНАЯ</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:4px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="15" rowspan="2" class="s6">на внутреннее перемещение</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:11px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:4px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="18" rowspan="2" class="s6">объектов основных средств и ТМЦ</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:15px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="7" rowspan="2" class="s21" style="font-size:1px">&nbsp;</td><td colspan="3" rowspan="2" class="s23">{{ tracker.credate }}</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:4px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:18px">
<td/><td/><td colspan="4" rowspan="2" class="s4">№ <br>паспорта</td><td colspan="36" class="s23">Объект основных средств или ТМЦ</td><td colspan="10" rowspan="2" class="s22"><br>Количество, шт.</td><td colspan="11" class="s22">Стоимость, руб.</td>
</tr>
<tr style="height:51px">
<td/><td/><td colspan="22" class="s23"><br>наименование</td><td colspan="9" class="s23">дата приобретения (год выпуска, постройки)</td><td colspan="5" class="s23"><br>инвентарный номер</td><td colspan="3" class="s23"><br>единицы</td><td colspan="8" class="s23"><br>всего</td>
</tr>
<tr style="height:18px">
<td/><td/><td colspan="4" class="s24">1</td><td colspan="22" class="s25">2</td><td colspan="9" class="s25">3</td><td colspan="5" class="s25">4</td><td colspan="10" class="s25">5</td><td colspan="3" class="s25">6</td><td colspan="8" class="s25">7</td>
</tr>
<tr style="height:18px">
<td/><td/>
    <td colspan="4" class="s26">{{ tracker.equip.id }}</td>
    <td colspan="22" class="s27">{{ tracker.equip.model }}</td>
    <td colspan="9" class="s23">{{ tracker.equip.buydate }}</td>
    <td colspan="5" class="s23">{{ tracker.equip.tag }}</td>
    <td colspan="10" class="s23">1</td><td colspan="3" class="s28" style="font-size:1px"></td><td colspan="8" class="s28" style="font-size:1px">&nbsp;</td>
</tr>{% if tracker.equip1.id %}
<tr style="height:18px">
<td/><td/>
    <td colspan="4" class="s26">{{ tracker.equip1.id }}</td>
    <td colspan="22" class="s27">{{ tracker.equip1.model }}</td>
    <td colspan="9" class="s23" >{{ tracker.equip1.buydate }}</td>
    <td colspan="5" class="s23">{{ tracker.equip1.tag }}</td>
    <td colspan="10" class="s23">1</td><td colspan="3" class="s28" style="font-size:1px">&nbsp;</td>
    <td colspan="8" class="s28" style="font-size:1px">&nbsp;</td>
</tr>
    {% else %}
    {% endif %}


<tr style="height:18px">
<td/><td/><td colspan="53" class="s19">ИТОГО по документу</td><td colspan="8" class="s29" style="font-size:1px">&nbsp;</td>
</tr>
<tr style="height:121px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:18px">
<td/><td colspan="61" class="s7" style="font-size:1px">&nbsp;</td><td/>
</tr>
<tr style="height:7px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:4px">
<td colspan="12" rowspan="2" class="s10">Объекты основных средств</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:15px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="6" rowspan="2" class="s15">Табельный номер</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:4px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:4px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:7px">
<td/><td/><td/><td/><td/><td colspan="11" class="s20" style="font-size:1px">&nbsp;</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="6" rowspan="3" class="s4" style="font-size:1px">&nbsp;</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:4px">
<td/><td colspan="4" rowspan="4" class="s10">Сдал</td><td colspan="12" rowspan="4" class="s14" style="font-size:1px">&nbsp;</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="10" rowspan="4" class="s14">{{ tracker.customer }}

</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>


</tr>
<tr style="height:7px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="2" rowspan="4" class="s13"></td><td colspan="2" rowspan="4" class=""></td><td colspan="3" rowspan="4" class="s13"></td><td colspan="3" rowspan="4" class="s12">{{ tracker.credate }}</td><td/><td/><td colspan="2" rowspan="4" class="s13"></td><td/><td/>
</tr>
<tr style="height:4px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:4px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="5" rowspan="3" class="s15">Табельный номер</td><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:4px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="7" rowspan="3" class="s11">(подпись)</td><td/><td colspan="10" rowspan="3" class="s11">(расшифровка подписи)</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:7px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:7px">
<td/><td/><td/><td colspan="14" class="s20" style="font-size:1px">&nbsp;</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:18px">
<td colspan="3" class="s10">Принял</td><td colspan="2" class="s16" style="font-size:1px"></td><td colspan="12" class="s14" style="font-size:1px">&nbsp;</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="10" class="s14">{{ tracker.cus2 }}</td><td/><td/><td/><td colspan="6" class="s4" style="font-size:1px">&nbsp;</td><td/><td colspan="2" class="s13"></td><td colspan="2" class=""></td><td colspan="3" class="s13"></td><td colspan="3" class="s12">{{ tracker.credate }}</td><td/><td/><td colspan="2" class="s13"></td><td/><td/><td/>
</tr>
<tr style="height:15px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="7" rowspan="2" class="s11">(подпись)</td><td/><td colspan="10" rowspan="2" class="s11">(расшифровка подписи)</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:4px">
<td colspan="18" rowspan="2" class="s8">В инвентарной карточке (книге) учета объекта основных средств перемещение отмечено</td><td rowspan="2" class="s8" style="font-size:1px">&nbsp;</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:15px">
<td colspan="7" class="s8" style="font-size:1px">&nbsp;</td><td colspan="9" class="s8" style="font-size:1px">&nbsp;</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:4px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:18px">
<td/><td colspan="13" class="s8">Главный бухгалтер (бухгалтер)</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="13" class="s14" style="font-size:1px">&nbsp;</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
<tr style="height:18px">
<td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td colspan="6" class="s11">(подпись)</td><td/><td/><td/><td colspan="13" class="s11">(расшифровка подписи)</td><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/><td/>
</tr>
</table>
</div></div>
{% endblock %}